@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/fonts.css';

html {
  scroll-behavior: smooth;
}
body {
  font-family: Spezia, ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: kern;
}

:root {
  --modal-max-width-sm: 512px;
  --modal-max-width-md: 646px;
  --modal-max-width-lg: 967px;
}
